@model FinalFinal.Login.Medico

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Medico</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APELLIDO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APELLIDO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CORREO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CORREO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TELEFONO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TELEFONO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DIRECCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIRECCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categoria.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.NOMBRE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
